body.home { 
    background-image: url('map.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F0E491;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.logo img{
    width: 650px;
    height: 450px;
    display: block;
    margin: 0 auto;
}


.btn {
    text-decoration: none;
    background-color: #BBC863;
    color: #31694E;
    border: none;
    border-radius: 25px;
    padding: 20px 40px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.btn:hover {
    background-color: #658C58;
    color: #F0E491;
}

.top-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.top-buttons .btn {
    font-size: 1.8rem;
    padding: 30px 0;
    width: 100%;
    box-sizing: border-box;
}

.top-buttons .profile-btn {
    grid-column: 1 / -1;
    justify-self: center;
    width: 60%;
}

.bottom-buttons {
    background-color: #BBC863;
    border-radius: 50px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 100%;
}

.bottom-buttons .btn {
    margin: 0 10px;
    padding: 18px 30px;
    border-radius: 50px;
    font-size: 1.56rem;
    flex: 1;
    text-align: center;
}

#map {
    height: 90vh;
    width: 100%;
}

body.map {
    background-color: #F0E491;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BBC863;
    color: #31694E;
    padding: 15px 40px;
    border: 2px solid #31694E;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #31694E;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #658C58;
}
